<!DOCTYPE html>
<html>
  <head>
    <title>Swiftley Careers</title>
    <style>
      h1 {
        font: size; 40px
        font-family; Roboto;
        font-weight; normal;
        color: rgb(0 ,0 ,200);
        text-align: center;
      }

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <h1>Swiftley Careers</h1>
    <img src="https://jovian-careers-website.aakashns.repl.co/static/banner.jpeg" heights="320" >
    <h2>About Swiftley</h2>
    <p>
      Lorem ipsum dolor sit amet , consectur adipiat id kd d kdjdjf fmdl   dkv j  
    </p>
      Hello there, you'll learn about the job openings at Jovian here.
  </body>
</html>